<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tingle\Pmeds\Api\Data\QuestionsInterface" type="Tingle\Pmeds\Model\Questions" />
    <preference for="Tingle\Pmeds\Api\QuestionsRepositoryInterface" type="Tingle\Pmeds\Model\QuestionsRepository" />
    <preference for="Tingle\Pmeds\Api\Data\ConfigInterface" type="Tingle\Pmeds\Model\Config" />
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="passingTingleExtensionConfiguration" type="Tingle\Pmeds\Plugin\Block\Cart\Sidebar"/>
    </type>
</config>