<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tingle" translate="label" sortOrder="10">
            <label>Tingle</label>
        </tab>
        <section id="pmeds" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>P-Meds</label>
            <tab>tingle</tab>
            <resource>Mageplaza_HelloWorld::helloworld_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="info_display_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Info Display Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="info_display_help_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Info Display Help Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="icon_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Icon upload</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="questionnaire_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Questionnaire Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="questionnaire_intro_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Questionnaire Intro Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="questionnaire_pass_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Questionnaire Pass Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="questionnaire_fail_text" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Questionnaire Fail Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="add_at_product_listing" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add at listing page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="add_at_product_page" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add at product page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Custom Add To Cart text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Button text</label>
                    <comment>'Add To Cart' text will be replaces with this one.</comment>
                    <depends>
                        <field id="add_to_cart_enable">1</field>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
